@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');
:root{
    --color1: rgb(240, 128, 128);
}




body {
    
    background-color: #EEEEEE;
    font-family: 'Poppins', sans-serif;

}


/*logo*/

img{

    display: flex;
    justify-content: start;

    height: 60px;
    width: 220px;
   
   margin-top: 0px;
   margin-right: 0;
   padding: 20px ;
   padding-bottom: 0px;
      
  }

/*temporizador*/

.temporizador{
    width: 50%;
    justify-content: center;
    align-items: center;
    margin:auto;
    
}
.barra{
    display: flex;
    align-items: center;
    justify-content: center;
}
#rounds{
    text-align: right;
    font-weight: 900;
    color: #47a386;
    
}
#rondas{
    display: flex;
    justify-content: center;
}
#rondas p{
    padding-left: 15px;
    font-size: 1em;

}



#pomodoro-temporizador{
    display: flex;
	align-items: center;
	justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2em;
    position: absolute;
    color: rgb(133, 193, 233);
}
#Break_timer{
    display: none;
	align-items: center ;
    font-family: Arial, Helvetica, sans-serif;
    font-size: em;
    position: absolute;
    color: rgb(133, 193, 233);
}

span{
    display:none;
}

.palabra{
    display: flex;
    margin: 0;
    padding: 0;
}



.progreso{
    fill: none;
    stroke-width: 10;
    stroke: var(--color1);
    stroke-dasharray: 629;
    stroke-dashoffset: 629;
    transform: rotate(-90deg);
    transform-origin: center;
    stroke-linecap:round;
}
.progreso2{
    fill: none;
    stroke: rgb(233,233,233);
    stroke-width: 10;

}

.botones{
    display: flex;
	align-items: center;
	justify-content: center;
    margin-top: 0%;
    padding-bottom: 0%;
    margin-bottom: 0;
  

   
}
.instrucciones {
    display: flex;
	align-items: center;
	justify-content: center;
    margin-top: 4%;
    padding-bottom: 0%;
    margin-bottom: 4%;

}




.instrucciones button {
    background-color: #47a386;
    border: 0;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    color: #fff;
    font-size: 14px;
    padding: 10px 25px;


}

span{
    color: #ffffff;
}


.contenedor-modal {
    display: flex;
    background-color: rgba(0, 0, 0, 0.3);
    align-items: center;
    justify-content: center;
    position: fixed;
    pointer-events: none;
    opacity: 0;  
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    transition: opacity 0.3s ease;
  }


  .show {
    pointer-events: auto;
    opacity: 1;
  }
  
  .trip {
    background-color: #fff;
    width: 600px;
    max-width: 100%;
    padding: 30px 50px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    text-align: center;
  }
  
  .trip h1 {
    margin: 0;
  }
  
  .trip p {
    opacity: 0.7;
    font-size: 14px;
  }






.Inicio{
    display: flex;
	align-items: center;
	justify-content: center;
    width: 10%;
    border-radius: 60px;
    background-color: #468946;
    border: 0px solid #468946 ;
    color:#fff; 
    margin-right: 1%;
    font-size: 1.5em;
    padding: 0.8%;
    
}

.Inicio:hover{
    background: #509F50;
}
.Pausa{
    display: flex;
	align-items: center;
	justify-content: center;
    width: 10%;
    border-radius: 60px;
    background-color:#FF6F68;
    border: 0px solid #FF6F68;
    color: #fff;
    margin-right: 1%;
    font-size: 1.5em;
    padding: 0.8%;
}
.Pausa:hover{
    background: #F6847E;
}

.Reiniciar{
    display: flex;
	align-items: center;
	justify-content: center;
    width: 10%;
    border-radius: 60px;
    background-color:#72717D;
    border: 0px solid #72717D;
    color: #fff;;
    margin-right: 1%;
    font-size: 1.5em;
    padding: 0.8%;
}

.Reiniciar:hover{
    background: #87868F;
}

#caja_Texto {
    display: block;
    background-color: rgb(133, 193, 233);
    padding: 10px 20px;
    color: white;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
}
  
  #caja_Texto:after {
    content: "";
    display: table;
    clear: both;
    margin: 0;
  }
  
  .caja_Texto2 {
    display: block;
    margin: 0 auto;
    border-radius: 10px;
    box-sizing: border-box;
    width: 90%;
    background-color: rgb(133, 193, 233);
    padding: 10px 10px;
    color: white;
    text-align: center;
    display: flex;
    font-size: 20px;
  }





  


  #cerrar{
   
        background-color: #47a386;
        border: 0;
        border-radius: 5px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
        color: #fff;
        font-size: 14px;
        padding: 10px 25px;
      
  }

  .entrada{
    margin: 0;
    border: none;
    border-radius: 0;
    width: 100%;
    padding: 10px;
    float: left;
    font-size: 16px;
  }

  .caja_Texto2:after {
    content: "";
    display: table;
    clear: both;
  }
  
  
  input {
    box-sizing: border-box;
    margin: 30px 0 0 0;
    border: none;
    border-radius: 0;
    width: 75%;
    padding: 10px;
    float: left;
    font-size: 16px;

  }
  
  
  .addBtn {
    padding: 10px;
    width: 25%;
    background: #d9d9d9;
    color: #555;
    float: left;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 0;
  }
  
  .addBtn:hover {
    background-color: #bbb;
  }


label {
	display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
	width: 32px;
	height: 32px;
    padding: 0.5%;
    color:#fff;
}

label:hover {
	cursor: pointer;
	background: rgba(0,0,0,0.3);
}

.close{
    position:absolute;
    top:0px;
    right: 15px;
    display: inline-block;
    width: 25px;
    height: 25px;
    background: #C44a4a;
    color: #fff;
    line-height: 25px;
    cursor: pointer;
    border-radius: 30%;
}

.modal-container{
    opacity: 0;
    visibility: hidden;
    position: fixed;
    z-index: 1000;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal{
    width: 50%;
    height: 30%;
    background:#fff;
    text-align: center;
    display: flex;
    align-items: center;
	justify-content: center;
    position: relative;
    transition: transform 0.8s;
    transform: translateY(0%);
    border-radius: 10px;
}

.modal-close{
    transform: translateY(-200%);
}

h2{
    margin-top: 40px;
}



@media (max-width: 900px){
    span{
        display:flex;
    }
    .palabra{
        display:none;
    }
    #caja_Texto{
        font-size: 10px;
    }
    #caja_Texto2{
        font-size: 10px;
    }
    input{
        font-size: 10px;
    }
    #botonTexto{
        font-size: 10px;
    }
}


body {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
  }
  
  .trip span {
    color: #47a386;

    
  }
  
  #contact a {
    color: #a683e3;
    margin: 10px;
  }
  
  #contact {
    color: #fff;
    display: flex;
    flex-direction: column;
    
    align-items: center;
    height: 250px;
    background-color: #FF6F68;
  }

  #contact p {
   display: flex;
   justify-content: space-between;
  }
 
 
  
  #contact p {
    font-size: 14px;
  }
  
  @media screen and (max-width: 426px) {
 
    #contact p {
      font-size: 10px;
    }
  }
  
  @media screen and (min-width: 2560px) {
   
    
    #contact p {
      font-size: 16px;
    }
  }


